* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

/* HEADER */

header{
    background-color: #ff6900;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
}
ul{
    list-style: none;
}
.container.flexheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main{
    margin-top: 9rem;
}

.entire-header{
        padding: 20px 0;
    }


.center-logo img{
        height: 40px;
        padding-right: 20px;
    }

.left-header li, 
.left-footer li{
        display: inline-block;
        padding-right: 10px;
    }
    
.left-header li > a, 
.left-footer li > a{
        text-decoration: none;
        color: white;
        font-size: 1.1rem;
    }

.right-header > i{
        display: inline;
        padding-left: 15px;
        color: white;
        cursor: pointer;
    }


/* MAIN */
.row.flex img{
    width: 100%;
    border-radius: 10px;
}

.card .img-cover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}
.card:hover .img-cover {
    display: inline;
}
.row.flex{
    justify-content: space-between ;
}
.sales, .sost{
    padding: 5px 10px;
    color: white;
}
.sost{
    background-color: green;
}
.sales{
    background-color: red;
    margin-right: 5px;
}
.card{
    position: relative;
    width: calc(100% / 3 - (100px/3));
}
.sales-section{
    position: absolute;
    bottom: 100px;
    z-index: 99;
    display: flex;
}
.card > i{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 99;
}
i:hover{
    color: red;
}
.info > .name{
    font-weight: bold;
}
.price > .red-price{
    color: red;
    font-weight: bold;
}
.price > .line-price{
    text-decoration: line-through;
}

/* Utils */
.flex{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

